* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f3f1ff;
}

a {
  text-decoration: none;
  color: #562eff;
}

ul {
  list-style: none;
}

li {
  display: inline;
}

header {
  background-color: #562eff;
  color: #fff;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.head,
.top_player,
.latest_course {
  width: 870px;
  margin: 0 auto;
}

hr {
  width: 807px;
  border: 1px solid #d1d1d1;
  margin: 30px auto;
}

/* head */
.head {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

/* logo */
.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 40px;
  height: 52px;
}

.logo h1 {
  font-size: 24px;
  margin-left: 15px;
  font-weight: 300;
}

/* header right */
.header_right {
  display: flex;
  justify-content: right;
  align-items: center;
}

.nav_link {
  font-size: 16px;
  font-weight: 300;
  margin-right: 25px;
}

.profile {
  width: 51px;
  height: 51px;
}

/* top player */
.top_player,
.latest_course {
  background-color: #fff;
  border-radius: 5px;
  margin: 25px auto 15px;
  padding: 25px 0;
}

/* top player title */
.top_player_title,
.top_blog_title,
.latest_course_title {
  margin-bottom: 35px;
}

.top_player_title h2,
.top_blog_title h2,
.latest_course_title h2 {
  color: #562eff;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
}

.top_player_title,
.player,
.top_blog_title,
.blog,
.latest_course_title {
  margin-left: 25px;
}

/* player main */
.player_main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 30px;
}

.player {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

.player img {
  width: 56px;
  height: 56px;
}

.player_name {
  color: #000;
  margin-left: 20px;
  font-size: 18px;
}

/* top blog */

/* blog main */
.blog_main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 30px;
  margin-bottom: 12px;
}

.blog {
  display: flex;
}

.blog img {
  width: 177px;
  height: 117px;
}

.blog p {
  margin-left: 16px;
  font-size: 20px;
  font-weight: 500;
  line-height: 34px;
  margin-top: 5px;
}

.blog_author_name,
.text_by {
  font-size: 16px;
  font-weight: 300px;
  line-height: 24px;
}

.blog_author_name {
  color: #562eff;
}

.text_by {
  color: #9f9f9f;
}

/* course */
.course_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
  padding: 0 25px;
}

/* course info */
.course_info {
  padding: 15px;
  border-radius: 20px;
  background-color: #fff;
  filter: drop-shadow(0px 5.34229px 13.3557px rgba(0, 0, 0, 0.05));
}

/* course info top */
.course_info_top {
  margin-bottom: 20px;
}

.course_img {
  width: 224px;
  height: 104px;
  margin-bottom: 12px;
}

.course_title {
  margin-bottom: 5px;
}

.author {
  color: #ed6b4f;
}

/* course info bottom */
.course_info_bottom {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

/* rating icon */
.fa-star {
  color: #ffc014;
}

.fa-star-gray {
  color: #aeaeae;
  opacity: 0.25;
}

.rating_num {
  color: #a2a2a2;
}

.course_duration {
  background-color: #ffe4e8;
  border-radius: 50px;
  color: #ff4a60;
  padding: 0px 6px;
}
